body,
html {
  padding: 0px;
  margin: 0px;
  cursor: default;
  background-color: #000000;
  font-family: Gilroy;
}

:focus {
  outline: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page_wrap {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

button {
  font-size: 18px;
  text-transform: uppercase;
}

.logo {
  width: 41px;
  height: 39px;
}

.block__header {
  max-width: 1440px;
  height: 247px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #000000;
}

.block__header-title {
  font-size: 32px;
  line-height: 38px;
}

.block__header-quote {
  font-size: 18px;
  margin-top: 23px;
}

.header__item {
  color: #000000;
}

.header__item-tittle {
  font-size: 32px;
  margin-bottom: 23px;
}

.header__item-tittle--big {
  font-size: 56px;
  line-height: 69px;
  width: 433px;
  font-weight: bold;
  margin-bottom: 36px;
}

.header__item-text {
  max-width: 441px;
  text-align: justify;
  line-height: 140.62%;
}

.header__item-button {
  height: 60px;
  width: 200px;
  border: 1px solid #F7941E;
  border-radius: 5px;
  color: #F7941E;
  margin-top: 35px;
}

.header__item-button:nth-child(1) {
  margin-top: 52px;
}

.header__item-button:hover {
  background-color: #F7941E;
  color: #FFFFFF;
}

.header__main {
  max-width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #F1F1F2;
}

.header__main-picture {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__main-item {
  display: grid;
  justify-content: center;
  align-content: center;
}

.header__nav {
  max-width: inherit;
  padding-left: 80px;
  padding-right: 40px;
  height: 116px;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas: 'logo . links . button';
}

.header__nav-logo {
  grid-area: logo;
}

.header__nav-link {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header__nav-links {
  grid-area: links;
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
}

.header__button {
  height: 38px;
  width: 140px;
  margin-right: 0;
  border: 1px solid #F7941E;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #F7941E;
}

.header__button-wrap {
  grid-area: button;
  display: grid;
  justify-content: right;
}

.gifts__items {
  max-width: 1440px;
  padding-left: 135px;
  padding-right: 135px;
  padding-bottom: 137px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.gifts__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 270px 166px;
  max-width: 270px;
  background-color: #FAFAFA;
}

.gifts__item:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
}

.gifts__item-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gifts__item-bottom {
  padding: 24px;
  display: grid;
  align-content: space-between;
  color: #000000;
}

.gifts__item-ocassion {
  font-size: 20px;
  line-height: 24px;
}

.gifts__item-more {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.banner {
  max-width: 1440px;
  height: 240px;
  background-color: #F7941E;
  display: grid;
  align-content: center;
}

.banner__content {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr 1fr 3fr 1fr;
  grid-template-areas: '. btext . bbuttons . ';
}

.banner__text {
  grid-area: btext;
  color: #000000;
}

.banner__text-top {
  font-size: 32px;
  line-height: 140.62%;
  font-weight: bold;
}

.banner__text-bottom {
  font-size: 32px;
  line-height: 140.62%;
}

.banner__button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #F7941E;
}

.banner__button:hover {
  background-color: #231F20;
  color: #FFFFFF;
}

.banner__button:nth-child(1) {
  justify-self: end;
}

.banner__button:nth-child(2) {
  margin-left: 16px;
}

.banner__buttons {
  grid-area: bbuttons;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: space-around;
}

.big-blog {
  grid-area: bigblog;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #231F20;
  color: #FFFFFF;
}

.big-blog__img {
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.big-blog__text {
  padding-top: 63px;
  padding-left: 78px;
  padding-bottom: 49px;
  display: grid;
}

.big-blog__author {
  font-size: 14px;
  line-height: 140.62%;
}

.big-blog__title {
  font-size: 48px;
  line-height: 58px;
  max-width: 492px;
  margin-top: -20px;
}

.big-blog__more {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 140.62%;
  align-self: end;
}

.blog {
  padding-left: 48px;
  padding-right: 48px;
  display: grid;
  align-content: center;
  justify-content: center;
  color: #000000;
  line-height: 140.62%;
}

.blog__tittle {
  max-width: 474px;
  font-size: 24px;
  font-weight: bold;
}

.blog__text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

.blog__more {
  font-size: 14px;
  color: #000000;
}

.blog:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blogs__container {
  max-width: 1440px;
  padding-left: 135px;
  padding-right: 135px;
  padding-bottom: 80px;
  padding-top: 7px;
  display: grid;
  grid-template-areas: 'bigblog bigblog' 'smal1 smal2';
  grid-template-rows: 370px 290px;
  grid-gap: 40px 30px;
}

.blog:nth-child(1) {
  grid-area: smal1;
}

.blog:nth-child(2) {
  grid-area: smal2;
}

.footer {
  background-color: #FAFAFA;
  max-width: 1440px;
  height: 410px;
  padding-left: 220px;
  padding-right: 220px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
}

.footer__link {
  color: #000000;
  font-size: 14px;
  line-height: 140.62%;
  font-weight: bold;
}

.footer__link:nth-child(2) {
  text-align: right;
}

.footer__link:nth-child(3) {
  text-align: right;
}

.footer__links {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  align-content: center;
}

.footer__logo-wrapp {
  display: grid;
  justify-content: center;
  /*margin-left: 141px;
            margin-right: 141px;*/
}

.footer__line {
  margin-top: 43px;
  margin-bottom: 55.8px;
}

.footer__social {
  height: 38.4px;
  width: 38.4px;
  justify-self: center;
}

.footer__socials {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 72.8px;
}

.footer__socials-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

.footer__privacy {
  font-size: 14px;
  line-height: 140.62%;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 14px;
}

.footer__privacy-text:nth-child(1) {
  text-align: right;
}
