$max_width: 1440px;

$background_color_black: #000000;
$background_color_dark: #231F20;
$background_color_white: #FFFFFF;
$background_color_gray: #F1F1F2;
$background_color_orange: #F7941E;

$font_color_black: #000000;
$font_color_white: #FFFFFF;
$font_color_orange:#F7941E;

body,
html {
    padding: 0px;
    margin: 0px;
    cursor: default;
    background-color: $background_color_black;
    font-family: Gilroy;
}

:focus {
    outline: none;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
}

.page_wrap {
    max-width: $max_width;
    margin: 0 auto;
    background-color: $background_color_white;
}

button {
    font-size: 18px;
    text-transform: uppercase;
}

.logo {
    width: 41px;
    height: 39px;
}

.header {
    &__main {
        max-width: inherit;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        background-color: $background_color_gray;

        &-picture {
            height: 700px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &-item{
            display: grid;
            justify-content: center;
            align-content: center;
        }
    }


    &__nav {
        max-width: inherit;
        padding-left: 80px;
        padding-right: 40px;
        height: 116px;
        display: grid;
        align-content: center;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
            'logo . links . button';
    }

    &__nav-logo {
        grid-area: logo;
    }

    &__nav-link {
        font-size: 18px;
        line-height: 22px;
        color: $font_color_black;

        &s {
            grid-area: links;
            display: flex;
            justify-content: space-between;
            margin-left: -40px;
        }
    }

    &__button {
        height: 38px;
        width: 140px;
        margin-right: 0;
        border: 1px solid $background_color_orange;
        box-sizing: border-box;
        background-color: $background_color_white;
        border-radius: 5px;
        color: $font_color_orange;

        &-wrap {
            grid-area: button;
            display: grid;
            justify-content: right;
        }
    }
}