$max_width: 1440px; //100vw; 

$background_color_black: #000000;
$background_color_dark: #231F20;
$background_color_white: #FFFFFF;
$background_color_gray: #F1F1F2;
$background_color_gray-light: #FAFAFA;
$background_color_orange: #F7941E;

$font_color_black: #000000;
$font_color_white: #FFFFFF;
$font_color_orange:#F7941E;